<mat-toolbar class="mb-4">
  <span class="col-md-6 col-sm-12">{{
    "user-table.headline" | translate
  }}</span>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div [ngClass]="{ 'col-md-6': isEditing$ | async }" class="col-sm-12">
      <div class="row">
        <mat-form-field class="col-md-6 col-sm-9 col-10">
          <input
            matInput
            (keyup)="setFilter($event.target.value)"
            placeholder="{{ 'user-table.filter.placeholder' | translate }}"
          />
        </mat-form-field>
        <div class="col-md-6 col-sm-3  col-2 add-user-button">
          <button
            mat-icon-button
            [color]="'primary'"
            attr.aria-label="{{ 'user-list.button.add' | translate }}"
            (click)="onClickCreate()"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
      </div>
      <app-users-table
        (editUser)="editUser($event)"
        [filter]="filter"
      ></app-users-table>
    </div>
    <div class="col-md-6 col-sm-12" *ngIf="isEditing$ | async">
      <app-user-form [userFormData]="user"></app-user-form>
    </div>
  </div>
</div>
