<mat-toolbar class="mb-4">
  <span class="col-md-6 col-sm-12">{{ "user.headline" | translate }}</span>
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <ng-container *ngIf="isLoading$ | async">
        <mat-progress-spinner
          [color]="'primary'"
          [mode]="'indeterminate'"
          [value]="50"
        >
        </mat-progress-spinner>
      </ng-container>
      <ng-container>
        <app-user-detail
          [user]="user"
          [isEditting]="isEditting$"
        ></app-user-detail>
      </ng-container>
    </div>
    <div class="col-md-6 col-sm-12">
      <ng-container *ngIf="isEditting$ | async">
        <app-user-form [userFormData]="user"></app-user-form>
      </ng-container>
    </div>
  </div>
</div>
